{% load static %}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="bootstrap admin template">
    <meta name="author" content="">
    
    <title>{{title}}</title>
    
    <link rel="apple-touch-icon" href="{% static 'assets/images/apple-touch-icon.png' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'global/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/bootstrap-extend.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/site.min.css' %}">
    
    <!-- Plugins -->
    <link rel="stylesheet" href="{% static 'global/vendor/animsition/animsition.css' %}">
    <link rel="stylesheet" href="{% static 'global/vendor/asscrollable/asScrollable.css' %}">
    <link rel="stylesheet" href="{% static 'global/vendor/switchery/switchery.css' %}">
    <link rel="stylesheet" href="{% static 'global/vendor/intro-js/introjs.css' %}">
    <link rel="stylesheet" href="{% static 'global/vendor/slidepanel/slidePanel.css' %}">
    <link rel="stylesheet" href="{% static 'global/vendor/jquery-mmenu/jquery-mmenu.css' %}">
    <link rel="stylesheet" href="{% static 'global/vendor/flag-icon-css/flag-icon.css' %}">
        <link rel="stylesheet" href="{% static 'assets/examples/css/pages/login-v2.css' %}">
    
    
    <!-- Fonts -->
    <link rel="stylesheet" href="{% static 'global/fonts/web-icons/web-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'global/fonts/brand-icons/brand-icons.min.css' %}">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    
    
    
    <!-- Scripts -->
    <script src="{% static 'global/vendor/breakpoints/breakpoints.js' %}"></script>
    <script>
      Breakpoints();
    </script>
  </head>
  <body class="animsition page-login-v2 layout-full page-dark">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <style>
      body {
        background: transparent;
      }
    </style>
    <!-- Page -->
    <div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
      <div class="page-content">
        <div class="page-brand-info">
          <div class="brand">
            <img class="brand-img" src="{% static 'assets/images/logo@2x.png' %}" alt="...">
            <h2 class="brand-text font-size-40">Dudemy</h2>
          </div>
          <p class="font-size-20">Choose from 130,000 online video courses with new additions published every month</p>
        </div>

        <div class="page-login-main animation-slide-right animation-duration-1">
          <div class="brand hidden-md-up">
            <img class="brand-img" src="{% static 'assets/images/logo-colored@2x.png' %}" alt="...">
            <h3 class="brand-text font-size-40">Dudemy</h3>
          </div>
          <h3 class="font-size-24">{{action}}</h3>
          <p>Enjoy lifetime access to courses on Dudemy’s website and app.</p>

          <form method="post" role="form" action="{% url 'authentication:signupsave' %}">
          {% csrf_token %}
            <div class="form-group">
              {% comment %} <label class="sr-only" for="inputName">Full Name</label>
              <input type="text" class="form-control" id="inputName" name="name" placeholder="Name"> {% endcomment %}
              {{form.username}}
            </div>
            <div class="form-group">
              {% comment %} <label class="sr-only" for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email"> {% endcomment %}
              {{form.email}}
            </div>
            <div class="form-group">
              {% comment %} <label class="sr-only" for="inputPassword">Password</label>
              <input type="password" class="form-control" id="inputPassword" name="password"
                placeholder="Password"> {% endcomment %}
                {{form.password}}
            </div>
            <div class="form-group">
              {% comment %} <label class="sr-only" for="inputPasswordCheck">Retype Password</label>
              <input type="password" class="form-control" id="inputPasswordCheck" name="passwordCheck"
                placeholder="Confirm Password"> {% endcomment %}
                {{form.password2}}
            </div>
            <div class="form-group clearfix">
              <div class="checkbox-custom checkbox-inline checkbox-primary float-left">
                <input type="checkbox" id="inputCheckbox" name="term">
                <label for="inputCheckbox"></label>
              </div>
              <p class="ml-40">By clicking Sign Up, you agree to our <a href="#">Terms</a>.</p>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
          </form>

          <p>Have account already? Please go to <a href="{% url 'authentication:login' %}">Sign In</a></p>

          <footer class="page-copyright">
            <p>WEBSITE BY Dudemy</p>
            <p>© 2021. All RIGHT RESERVED.</p>
            <div class="social">
              <a class="btn btn-icon btn-round social-twitter mx-5" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
              <a class="btn btn-icon btn-round social-facebook mx-5" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
              <a class="btn btn-icon btn-round social-google-plus mx-5" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
            </div>
          </footer>
        </div>

      </div>
    </div>
    <!-- End Page -->


    <!-- Core  -->
    <script src="{% static 'global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
    <script src="{% static 'global/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'global/vendor/popper-js/umd/popper.min.js' %}"></script>
    <script src="{% static 'global/vendor/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'global/vendor/animsition/animsition.js' %}"></script>
    <script src="{% static 'global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
    <script src="{% static 'global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
    
    <!-- Plugins -->
    <script src="{% static 'global/vendor/jquery-mmenu/jquery.mmenu.min.all.js' %}"></script>
    <script src="{% static 'global/vendor/switchery/switchery.js' %}"></script>
    <script src="{% static 'global/vendor/intro-js/intro.js' %}"></script>
    <script src="{% static 'global/vendor/screenfull/screenfull.js' %}"></script>
    <script src="{% static 'global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
        <script src="{% static 'global/vendor/jquery-placeholder/jquery.placeholder.js' %}"></script>
    
    <!-- Scripts -->
    <script src="{% static 'global/js/Component.js' %}"></script>
    <script src="{% static 'global/js/Plugin.js' %}"></script>
    <script src="{% static 'global/js/Base.js' %}"></script>
    <script src="{% static 'global/js/Config.js' %}"></script>
    
    <script src="{% static 'assets/js/Section/Menubar.js' %}"></script>
    <script src="{% static 'assets/js/Section/Sidebar.js' %}"></script>
    <script src="{% static 'assets/js/Section/PageAside.js' %}"></script>
    <script src="{% static 'assets/js/Section/GridMenu.js' %}"></script>
    
    <!-- Config -->
    <script src="{% static 'global/js/config/colors.js' %}"></script>
    <script src="{% static 'assets/js/config/tour.js' %}"></script>
    <script>Config.set('assets', '/static/assets');</script>
    
    <!-- Page -->
    <script src="{% static 'assets/js/Site.js' %}"></script>
    <script src="{% static 'global/js/Plugin/asscrollable.js' %}"></script>
    <script src="{% static 'global/js/Plugin/slidepanel.js' %}"></script>
    <script src="{% static 'global/js/Plugin/switchery.js' %}"></script>
        <script src="{% static 'global/js/Plugin/jquery-placeholder.js' %}"></script>
    
    <script>
      (function(document, window, $){
        'use strict';
    
        var Site = window.Site;
        $(document).ready(function(){
          Site.run();
        });
      })(document, window, jQuery);
    </script>
    
  </body>
</html>
